<a href="https://colab.research.google.com/github/Sukrut11/Categorical-Encoding/blob/main/One_Hot_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# One Hot Encoding - Variables with many categories

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv", usecols = ["X1", "X2"])

In [3]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
for col in df:
  print(df[col].unique())

['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']

In [5]:
df["X1"].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [6]:
len(df["X1"].unique())

27

In [7]:
df["X2"].unique()

array(['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k',
       'ae', 's', 'f', 'd', 'ag', 'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y',
       'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 'p', 'am',
       'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar'], dtype=object)

In [8]:
len(df["X2"].unique())

44

In [9]:
# let's have a look at how many labels each variable has
for col in df.columns:
  print(col, ":", len(df[col].unique()), "labels")

X1 : 27 labels
X2 : 44 labels

In [10]:
df.shape

(4209, 2)

In [11]:
pd.get_dummies(df, drop_first = True).shape

(4209, 69)

We can observe that from with just 2 categorical features we are getting 69 features with the help of one hot encoding.

In [12]:
# let's find the top 10 most frequent categories for the variable X2

df.X2.value_counts().sort_values(ascending = False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [13]:
# let's make a list with the most frequent categories of the variable
top_10_labels = [x for x in df.X2.value_counts().sort_values(ascending = False).head(10).index]
top_10_labels

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [14]:
# get whole set of dummy variables, for all the categorical variables
def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    for label in top_x_labels:
      df[variable + "_" + label] = np.where(df[variable] == label, 1, 0)

In [15]:
# read the data again
df = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv", usecols = ["X1", "X2"])

# encode X2 into the 10 most frequent categories
one_hot_encoding_top_x(df, "X2", top_10_labels)
df.head()

  X1  X2  X2_as  X2_ae  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0  v  at      0      0      0     0      0     0     0     0     0     0
1  t  av      0      0      0     0      0     0     0     0     0     0
2  w   n      0      0      0     0      0     0     1     0     0     0
3  t   n      0      0      0     0      0     0     1     0     0     0
4  v   n      0      0      0     0      0     0     1     0     0     0

In [16]:
# let's make a list with the most frequent categories of the variable
top_10_labels = [x for x in df.X1.value_counts().sort_values(ascending = False).head(10).index]
top_10_labels

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [17]:
# get whole set of dummy variables, for all the categorical variables
def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    for label in top_x_labels:
      df[variable + "_" + label] = np.where(df[variable] == label, 1, 0)

In [18]:
# read the data again
df = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv", usecols = ["X1", "X2"])

# encode X2 into the 10 most frequent categories
one_hot_encoding_top_x(df, "X1", top_10_labels)
df.head()

  X1  X2  X1_aa  X1_s  X1_b  X1_l  X1_v  X1_r  X1_i  X1_a  X1_c  X1_o
0  v  at      0     0     0     0     1     0     0     0     0     0
1  t  av      0     0     0     0     0     0     0     0     0     0
2  w   n      0     0     0     0     0     0     0     0     0     0
3  t   n      0     0     0     0     0     0     0     0     0     0
4  v   n      0     0     0     0     1     0     0     0     0     0